<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>
<body>
</body>
<!--<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary " th:fragment="mymenu">-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary " th:fragment="mymenu(activeTab)">
    <a class="navbar-brand" href="#">GeekSpring</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${activeTab == 'Index' ? 'active' : ''}">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item" th:classappend="${activeTab == 'ProductsList' ? 'active' : ''}">
                <a class="nav-link" href="/product/list">Products List</a>
            </li>
        </ul>
    </div>
</nav>
</html>