<!--/*@thymesVar id="studentsList" type="java.util.List<Student>"*/-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Students List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>

<body>
<div class="fluid-container">
    <nav>
        <div th:replace="~{my-menu :: mymenu(StudentsList)}">
        </div>
    </nav>
</div>
<div class="container">
    <h1>Students List</h1>
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <td>Id</td>
            <td>Name</td>
            <td>Name length</td>
            <td>Actions</td>
            <td>Check Name</td>
            <td>Courses</td>
        </tr>
        </thead>

        <!--<tr th:each="student : ${studentsList}" th:inline="text">-->
        <tr th:each="student : ${studentsList}">
            <td th:text="${student.id}"/>
            <td th:text="${student.name}"/>
            <td th:text="${student.name.length()}"/>
            <!--&lt;!&ndash;<h1>Hello [[${student.name}]]!</h1>&ndash;&gt;-->

            <td>
                <button class="btn btn-primary infoBtn" th:attr="entryIndex=${student.id}">Info</button>
                <!--<button class="btn btn-primary removeBtn" th:attr="entryIndex=${student.id}">Remove</button>-->
                <a class="btn btn-danger" th:href="@{'/students/remove/' + ${student.id}}" role="button">Remove</a>
            </td>
            <td>
                <!--&lt;!&ndash;<p th:class="${text-white.property} ? 'one' : 'two'"/">&ndash;&gt;-->
                <p th:if="${student.name.length()} &gt; 3">
                    Normal
                </p>
                <p class="p-3 mb-2 bg-danger text-white" th:unless="${student.name.length()} &gt; 3">
                    To short
                </p>
            </td>

            <td th:each="course : ${student.courses}">
                <span th:text="${course.title}"></span>
            </td>
        </tr>
    </table>
    <!--<br>-->
    <!--<a href="/">Back To Main Page</a>-->
    <!--<br>-->
    <button id="consoleTestBtn" >Console</button>
    <input id="myInput" />
</div>
</body>
<!--<footer>-->
    <!--<div th:insert="~{my-footer :: foot}">-->
    <!--</div>-->
<!--</footer>-->
</html>